:root {
    --background-color: #181a1b;
    --border-color: #3a3f41;
    --text-color: #e1dfdbcf;
    --text-color-highlight: #94a3b8;
    --text-color-hover: #b3b3b3;
    --background-color-hover: #222425;
    --background-color-active: #141718;
    --border-color-active: #5a5a5acf;
    --border-color-hover: #969696cf;
    --layout-border-radius: 0.3rem;
    --card-border-radius: 0.3rem;
    --button-border-radius: 0.2rem;
    --layout-border-size: 1px;
    --card-border-size: 1px;
    --button-border-size: 1px;
    --watching-color: #65a165;
    --completed-color: #6581a1;
    --on-hold-color: #a18165;
    --dropped-color: #a16565;
    --plan-to-watch-color: #5a5f5a;
    --scrollbar-color: #36383b;
    --scrollbar-background-color: #181a1b;
}

.light-theme {
    --background-color: #ddd7d5;
    --border-color: #bdb6b1;
    --text-color: #18191a;
    --text-color-highlight: #2d2953;
    --background-color-hover: #d3cbc8;
    --border-color-hover: #a7a09a;
    --text-color-hover: #292929;
    --border-color-active: #afaaa4;
    --background-color-active: #cac1ba;
    --scrollbar-color: #747474;
    --scrollbar-background-color: #ddd7d5;
}

* {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color);
    transition: scrollbar-color 0.3s ease;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "M PLUS 1 Code Variable", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

[class*="layout"],
[class*="card"] {
    transition: border-color 0.3s ease;
}